body{
    width: 100%;
    height: 100%;
    background-color:#10c8ac ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all{
    width: 680px;
    height: 1000px;
    margin: 0 auto;
}
.picture{
    width: 500px;
    height: 450px;
    margin: auto;
    background: url("../images/no-net.png") no-repeat;
}
.word{
    color: white;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}
.bottom{
    width: 400px;
    height: 50px;
    color: white;
    font-size:25px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
}